.idea/*
**/__pycache__/*
covid-env/*
**/Pipfile.lock
**/yarn.lock
backend/jhuData.csv
**/nohup.out
**/*.pem
logfile
**/dailyreports/*
backend/combined.csv
get-pip.py
backend/local/*
backend/SPYHistorical.csv
backend/stockDataCSV.csv
backend/insertData.csv
instance-env/*
**/.env

